<%- include('./includes/head.ejs'); %>
    <title>Welcome | Home</title>
</head>
<body>
    Main Page
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
<%- include('./includes/end.ejs'); %>
